# FastAPI
fastapi==0.85.0
fastapi-jwt-auth==0.5.0
uvicorn==0.18.3

# database
sqlmodel==0.0.8
psycopg2-binary

# passwords
passlib[bcrypt]==1.7.4

# redis
aioredis==2.0.1

# testing
pytest==7.2.0
pytest-cov
pytest-asyncio==0.20.3
requests==2.28.1
